
.modal {
  z-index: 50;
  margin: 0 auto;
  width: 450px;
  height: 450px;
  background-color: #FAFAFA;
  padding: 20px 20px;
  border-radius: 5px;
}

.modal-content {
  align-self: center;
  background-color: #FAFAFA;
  padding: 20px 20px;
  border: 3px solid #FF915D;
  border-radius: 5px;
  height: 89%;
    z-index: 50;
}

.close {
  color: #FF915D;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-desc{
  color: #757575;
  text-transform: capitalize;
  border-bottom: 1px dashed #FF915D;
}

/* *********************     START OF CUSTOME checkmark CSS  *********************** */
.container-modal {
  display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.container-modal  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-modal :hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-modal  input:checked ~ .checkmark {
    background-color: #FF915D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-modal  input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-modal  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* *********************     END OF CUSTOME checkmark CSS  *********************** */
.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
    margin-bottom: 44px;
}

.numbers {
  float: right;
  margin-left: 85px;
}
.numbers2 {
  float: right;
  margin-left: 25px;
}
.from {
  width: 100px;
  height: 20px;
  padding: 3px 2px;
  border: none;
  outline: none;
  border-bottom: 1px solid #6C6B6B;
  margin-left: 15px;
  margin-right: 1px;
}

.to {
  width: 100px;
  height: 20px;
  padding: 3px 2px;
  border: none;
  outline: none;
  border-bottom: 1px solid #6C6B6B;
  margin-left: 37px;
  margin-right: 5px;
}

.select-catgery{
    font-family: 'Spectral SC', serif;
  background: #ffffff;
    padding: 7px 36px;
    outline: none;
    border-radius: 5px;
    font-weight: 500;

}
.option-category{
  padding: 12px;
  outline: none;
}

.search-button {
  font-family: 'Spectral SC', serif;
  outline: none;
  cursor: pointer;
  padding: 9px 9px;
  border-radius: 5px;
  border: none;
  color: #000;
  background-color: #FF915D;
  display: block;
  font-size: 16px;
}
.search-button:hover{
  background-color: #ccc;
}
.button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
