.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.modal {
  z-index: 50;
  width: 450px;
  height: 350px;
  background-color: #FAFAFA;
  padding: 20px 20px;
  /* border-radius: 5px; */
  position: fixed;
  /* margin: 50px auto; */
  top: 10%;
  left: 30%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal-content {
  align-self: center;
  background-color: #FAFAFA;
  padding: 20px 20px;
  border-radius: 5px;
  height: 89%;
  z-index: 50;
}

.close {
  color: #0067bb;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-desc {
  color: #000;
  text-transform: capitalize;
}

.euro1 {
  position: absolute;
  top: 114px;
  left: 452px;
}

.euro2 {
  position: absolute;
  top: 142px;
  left: 452px;
}

.euro3 {
  position: absolute;
  top: 214px;
  left: 452px;
}

.euro4 {
  position: absolute;
  top: 242px;
  left: 452px;
}

/* *********************     START OF CUSTOME checkmark CSS  *********************** */

.container-modal {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container-modal input {
  background-color: #FAFAFA;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container-modal :hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a  background */

.container-modal input:checked~.checkmark {
  border-radius: 5px;
  background-color: #0067bb;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container-modal input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container-modal .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* *********************     END OF CUSTOME checkmark CSS  *********************** */

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 44px;
  color: #444;
}

.numbers {
  float: right;
  margin-left: 85px;
}

.numbers2 {
  float: right;
  margin-left: 25px;
}

.from {
  background-color: #FAFAFA;
  width: 100px;
  height: 20px;
  padding: 3px 2px;
  border: none;
  outline: none;
  border-bottom: 1px solid #6C6B6B;
  margin-left: 15px;
  margin-right: 1px;
}

.to {
  background-color: #FAFAFA;
  width: 100px;
  height: 20px;
  padding: 3px 2px;
  border: none;
  outline: none;
  border-bottom: 1px solid #6C6B6B;
  margin-left: 37px;
  margin-right: 5px;
}

.select-catgery {
  font-family: 'Spectral SC', serif;
  background: #ffffff;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  width: 200px;
}

.option-category {
  padding: 12px;
  outline: none;
}

.search-button {
  font-family: 'Spectral SC', serif;
  outline: none;
  cursor: pointer;
  padding: 10px 60px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
  letter-spacing: 1.5px;
  background-color: #0067bb;
  display: block;
  font-size: 20px;
}

.search-button:hover {
  color: #000;
  background-color: #ccc;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-check {
  color: #000;
}