.footer {
    width: 100vw;
    height:15vh;   
    background-color: #424242;
    color: white;
    text-align: center;
}
.fa-facebook{
    color: #FFD4BB;
    font-size: 35px;
    padding: 15px;
    cursor: pointer;
}
.fa-twitter-square{
    color: #FFD4BB;
    font-size: 35px;
    padding: 15px;
    cursor: pointer;
}
.fa-linkedin{
    color: #FFD4BB;
    font-size: 35px;
    padding: 15px;
    cursor: pointer;
}