.ending-section{
    text-align: center;
    background-color: #181818;
    margin: -25px auto;
    width: 100vw;
    height:90vh;
    background-image: url(https://capoeiracharityuk.org.uk/wp-content/uploads/2014/05/Capoeira_charity_uk_academy_london_kids_adults_project_classes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}   
.overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.5); 
    display: flex;
    flex-direction: column;
}
.contactUs{
    background-color: rgba(0,0,0,.5);
    height: 80%;
    width: 45%;
    border-radius: 7px;
    padding-top: 40px;
    margin-bottom: 70px;
}
.titleTitle{
    margin: 40px auto;
    color: #EFF0F2;
    letter-spacing: 2px;
    font-size: 31px;
    font-weight: 400;

}
.inputFieldContect{
    display: block;
    width: 90%;
    height: 50px;
    outline: none;
    border: .5px rgb(255, 255, 255) solid;
    padding-left: 7px;
    font-size: 15px ;
    border-radius: 7px;
    background-color: rgba(0,0,0,.3);
    margin: 15px auto;
    color: white;
}
.inputFieldContect::placeholder{
    color: white;
    font-family: "Spectral";
}
.textAreaContact{
    height: 90px;
    padding-top: 9px;
}
.contactButton{
    font-family: "Spectral";
    margin: 10px;
    width: 110px;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #0067bb;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: #EFF0F2;
}
.contactButton:hover{
    background-color: #767070 ;
    transform: scale(1.05);
    transition: all .5s;
}
.contact-div img{
    float: left;
    width: 37px;
    margin-right: 15px;
}
.contact-div{
    width: 80%;
    height: 30%;
    margin: 0 auto;
    text-align: center;
    color: #EFF0F2;
}
.contact-div h3{
    display: inline;
    float: left;
    position: relative;
    top: 10px;
}
.contactInnerContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  
}