.count-charity {
    position: fixed;
    right: 5%;
    bottom: 16%;
    cursor: pointer;
    display: flex;
    background: #ccc;
    border-radius: 50%;
    height: 65px;
    width: 105px;
    box-shadow: 0 5px 20px 1px rgba(128, 128, 128, 0.31);
    transform: 1s;
}

.count {
    background-color: rgb(247, 96, 9);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 5%;
    bottom: -5%;
}

.compare-charity {
    position: absolute;
    color: #000;
    box-shadow: 0ch;
    right: 4px;
    top: 14px;
}

.count-charity:hover {
    transform: scale(1.1);
    background-color:  #f89963; ;

}

.count-charity:hover h2{
    color: #fff;
}

.count-charity:hover .count{
    background-color: #ccc;
    color: #000;
}