
.tabs ul li {
  font-weight: bold;
  background: #9bd2ff ;
  color: #fff;
  margin: 0 1px;
  letter-spacing: 1px;
  padding: 10px 12px;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
}

.tabActive {
  background: #0067bb !important;
}

#charity--img {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 15px;
  height: 70px;
}

#charity--name {
  display: inline-block;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  font-size: 25px;
}

.tabs ul {
  margin: 23px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs .compareBtn {
  background:  #9bd2ff;
  color: #fff;
  margin: 5px 3px;
  letter-spacing: 1px;
  padding: 1px 6px;
  border: 0px;
  font-size: 20px;
  border-radius: 6px;
}

.tabs .active {
  background: #0067bb !important;
}
