.kpi--tables{
  display: flex;
  flex-direction: column;
}

.flagImg {
  height: 40px;
}

.kpi--tables table tr td:first-child{
  width: 170px;
}

.kpi--tables table tr td {
  padding-bottom: 15px;
}

.kpi--tables table tr td:last-child{
  text-align: center;
}
.CircularProgressbar{
  width: 60px;
}

.CircularProgressbar-path {
  stroke: #f89963; 
}

.CircularProgressbar-text { 
  fill: #f89963;
}

.kpi--item .progressBar{
  max-width: 80px;
  min-width: 80px;
}

.kpi--item {
  min-width: 120px;
  min-height: 80px
  
}
