.about-us{
    width: 100vw;
    height:60vh;  
    text-align: center;
    background-image: url(https://image.freepik.com/free-photo/paper-textured-background_53876-30486.jpg);
    font-family: "Spectral";
}
.innerCards{
    width: 70%;
    height:60%;
    display:flex;
    align-content: center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-70%,-85%);    
}
.cardTitle{
    position: relative;
    top: 30px;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}
.inner{
    border-radius: 15px;
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgba(255, 250, 240, 0.568);
}
.inner:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.iconContainer{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 0 auto;
    text-align: center;
    background-color: #0067bb;
}
.cardIcon{
    width:40px;
    height:40px;
    margin-top: 12px; 
}

.worksInnerTitle{
    width: 200px;
    margin: 15px auto;
}
.carContent{
    display: inline-block;
}