* {
    padding: 0;
    margin: 0;
}

.body-category {
    margin-top: 140px;
    display: flex;
    padding-bottom: 50px;
}

.result-card {
    width: 60%;
    padding-bottom: 100px;
}

.category-details {
    width: 40%;
    padding: 2%;
}

.notFound {
    margin: 125px;
}