.div-header {
    margin: 30px auto;
    width: 58%;
    position: relative;
    height: 10vh;
    font-family: "Spectral";
}

.div-header h1 {
    display: inline-block;
    position: absolute;
    left: 0;
}

.div-header button:active {
    background-color: rgb(216, 84, 7);
}

.div-header p {
    line-height: 3;
    display: inline-block;
    color: #999;
    position: absolute;
    right: 60px;
    top: 15px;
}

.link-not-found {
    text-decoration: none;
    color: #0076dd;
}