.div-header {
    margin: 30px auto;
    width: 58%;
    position: relative;
    height: 10vh;
    font-family: "Spectral";
}

.div-header h1{
    display: inline-block;
    position: absolute;
    left: 0;
}

.div-header button {
    display: inline-block;
    background-color: rgb(247, 96, 9);
    color: #fff;
    width: 50px;
    height: 30px;
    border-radius: 10%;
    border: none;
    position: absolute;
    right: 0;
    top: 25px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.div-header button:active {
    background-color: rgb(216, 84, 7);
}

.div-header p {
    display: inline-block;
    color: #999;
    position: absolute;
    right: 60px;
    top: 15px;
}
