.div-header {
    margin: 30px auto;
    width: 58%;
    position: relative;
    height: 10vh;
    font-family: "Spectral";
}

.div-header h1{
    display: inline-block;
    position: absolute;
    left: 0;
}

.div-header button {
    display: inline-block;
    background-color: #f76009;
    color: #fff;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
    top: 25px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
}

.div-header button:active {
    background-color: rgb(216, 84, 7);
}

.div-header p {
  line-height: 3;
    display: inline-block;
    color: #999;
    position: absolute;
    right: 60px;
    top: 15px;
}
