.header-container {
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  left:0;
  width:100%;
  height: 110px;
  background-color: #000000;
  overflow:hidden;
}

.div-logo {
  margin:5px 10px;
  width: 70%;
}

.span-name {
  color: #ffff;
  font-size: 18px;
  color: white;
  text-transform:uppercase;
  font-family: "Spectral",sans-serif;
}

.colored-name {
  color: #0067bb;
}

.description {
  display: inline-block;
  font-family: "Spectral",sans-serif;
  color: rgb(255, 255, 255);
  text-transform:capitalize;
  font-size: 10px;
  margin-left: 118px;
}
