.kpi--box {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.kpi--titleBox {
  background-color: #ffd4bb;
  padding: 10px 0;
}

.kpi {
  margin-bottom: 50px;
}

.kpi--title {
  display: block;
  padding-left: 20px;
  font-size: 22px;
}
.kpi--description {
  display: block;
  padding-left: 40px;
}

.kpi--children {
  padding: 20px;
}

.kpi--row {
  display: grid;
  width: 85%;
  margin: 0 auto;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5%;
}
.kpi--row span {
  display: inline-block;
  padding-top: 15px;
}

.kpi--item {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
