.more {
    color: #EDEDEE;
    background-color: #0067bb;
    display: block;
    font-size: 20px;
    cursor: pointer;
    margin-left: 75%;
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-radius: 5%;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    padding: 10px;
}

.more:hover {
    background-color: #fff;
    color: #0067bb;
    border: 1px solid #0067bb;
}