.movingSlider {
  width: 100%;
  height: 50vh;
}

.alice-carousel {
  text-align: center;
}

.alice-carousel__prev-btn [data-area]::after {
  margin-right: 100px;
  color: rgb(61, 61, 61);
  font-size: 22px;
  color: #FAFAFA;
  font-weight: 900;
  font-family: "Spectral";
  content: ".   .   .";
  color: rgba(255, 255, 255, 0);
  background: url(https://imgur.com/3JLh87m.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.alice-carousel__next-btn [data-area]::after {
  margin-right: 300px;
  color: #FAFAFA;
  font-size: 22px;
  font-weight: 900;
  font-family: "Spectral";
    content: "..   ..";
    color: rgba(255, 255, 255, 0);
  background: url(https://imgur.com/THgLXQP.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainTitle {
  z-index: 22;
  width: 50%;
  margin: 40px auto;
  color: #0067bb;
  text-align: center;
  text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.alice-carousel__prev-btn {
  margin-top: 30px;
}

.alice-carousel__stage-item * {
  color: black;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.alice-carousel__stage-item *:hover {
  color: #0067bb;
}

.movingSlider h4 {
  text-decoration: none;
  margin-top: 10px;
}